@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .partial-underline {
    position: relative;
    display: inline-block;
    text-align: center; /* Center the text itself */
  }

  .partial-underline::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%; /* Start the underline from the center of the text */
    transform: translateX(-50%); /* Offset the position to truly center it */
    width: 85%; /* Adjust the width of the underline */
    height: 3px; /* Thickness of the underline */
    background-color: black; /* Color of the underline */
  }

  .partial-underline {
    position: relative;
    display: inline-block;
    text-align: center;
  }

  .partial-underline::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 3px;
    background-color: black;
  }

  .dark .partial-underline::after {
    background-color: white;
  }
}

/** -------------------------- */
.active {
  background: inherit !important;
  color: #1e3c72 !important;
  text-decoration: underline;
  font-weight: 700 !important;
}
.dark .active {
  background: inherit !important;
  color: #cbd5e1 !important;
  text-decoration: underline;
  font-weight: 700 !important;
}
/* ------------------------ */

/* ---------- */
.dark {
  background-color: #1a1a1d;
  color: white;
}

/* theme changing  edit*/
*,
*::before,
*::after {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 00ms !important;
}
